.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "22"
pciBridge0.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
vmci0.present = "TRUE"
hpet0.present = "TRUE"
nvram = "@name@.nvram"
virtualHW.productCompatibility = "hosted"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.suspend = "soft"
powerType.reset = "soft"
displayName = "@name@"
firmware = "efi"
guestOS = "@guest_os@"
tools.syncTime = "TRUE"
tools.upgrade.policy = "upgradeAtPowerCycle"
sound.autoDetect = "TRUE"
sound.virtualDev = "hdaudio"
sound.fileName = "-1"
sound.present = "TRUE"
numvcpus = "@cores@"
cpuid.coresPerSocket = "1"
memsize = "@memory@"
sata0.present = "TRUE"
nvme0.present = "TRUE"
sata0:0.fileName = "@disk_name@"
sata0:0.present = "TRUE"
sata0:1.deviceType = "cdrom-image"
sata0:1.fileName = "@iso_path@"
sata0:1.present = "TRUE"
sata0:1.startConnected = "TRUE"
sata0:1.autodetect = "FALSE"
usb.present = "TRUE"
ehci.present = "TRUE"
usb_xhci.present = "TRUE"
ethernet0.connectionType = "nat"
ethernet0.addressType = "generated"
ethernet0.virtualDev = "@net_dev@"
ethernet0.linkStatePropagation.enable = "TRUE"
ethernet0.present = "TRUE"
extendedConfigFile = "@name@.vmxf"
isolation.tools.hgfs.disable = "FALSE"
hgfs.mapRootShare = "TRUE"
hgfs.linkRootShare = "TRUE"
floppy0.present = "FALSE"
bios.bootOrder = "hdd"
bios.hddOrder = "sata0:0"
mks.enable3d = "TRUE"
gui.fitGuestUsingNativeDisplayResolution = "TRUE"
vmxstats.filename = "@name@.scoreboard"
svga.vramSize = "268435456"
